name: Windows Build

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '5.15.2'
        host: 'windows'
        target: 'desktop'
        arch: 'win64_mingw81'
        dir: '${{ runner.temp }}/qt'
        install-deps: 'true'
        modules: 'qtcharts qtdatavis3d qtvirtualkeyboard qtwebengine qtwebglplugin qtwebview qtserialport qtserialbus'

    - name: Build
      run: |
        mkdir build
        cd build
        cmake .. -G "CodeBlocks - MinGW Makefiles" -DCMAKE_BUILD_TYPE=Release
        cmake --build . --parallel
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: 扣货科技-Windows
        path: build/src/gui/QMPlay2.exe
